.detailed-watch-page {
  width: 84.5%;
  margin: 0 auto;
  overflow: hidden;
}

.detailed-watch-page .image-and-summary {
  margin-bottom: 50px;
  float:left;
}


@media only screen and (max-width: 1024px) {
  .detailed-watch-page {
    width: 85.8826171875%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .detailed-watch-page {
    width: 394.25px !important;
  }
}

@media only screen and (max-width: 375px) {
  .detailed-watch-page {
    width: 353.75px !important;
  }
}

@media only screen and (max-width: 320px) {
  .detailed-watch-page {
    width: 309.188px !important;
  }
}
